 // Content //////////////////////////////////
 .section {
     position: relative;
 }
 
 .main,
 .box-bg {
     width: 100%;
     height: 100%;
     overflow: hidden;
 }
 
 .box-main {
     width: 100%;
     height: 100%;
     background-color: $mainblack;
     margin-left: 6%;
 }
 
 .box-w_center {
     width: 20%;
     height: 25%;
     background-color: #fff;
     position: absolute;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
 }
 
 .box-w_top {
     width: 15%;
     height: 29%;
     background-color: #fff;
     position: absolute;
     right: 0;
     top: 0;
 }
 
 .box-w_right {
     width: 3%;
     height: 16%;
     background-color: #fff;
     position: absolute;
     right: 0;
     bottom: 27%;
 }
 
 .box-b_top {
     width: 8%;
     height: 25%;
     background-color: $mainblack;
     position: absolute;
     left: 0;
     top: 0;
 }
 
 .box-b_bottom {
     width: 15%;
     height: 11%;
     background-color: $mainblack;
     position: absolute;
     right: 0;
     bottom: 0;
     z-index: 11;
 }
 // End Content //////////////////////////////////
