 // Content //////////////////////////////////

 .main {
     width: 100%;
     height: 100%;
     background-color: $mainblack;
     margin-left: 7%;
     overflow: hidden;
 }
 
 // End Content //////////////////////////////////
